<div class="container">

    <br>
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h1 class="text-center">Pipes</h1>
    </div>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ name }}</td>
                <td>uppercase</td>
                <td>{{ name | uppercase }}</td>
            </tr>
            <tr>
                <td>{{ name }}</td>
                <td>lowercase</td>
                <td>{{ name | lowercase }}</td>
            </tr>
            <tr>
                <td>{{ name }}</td>
                <td>slice:2:5</td>
                <td>{{ name | slice:2:5 }}</td>
            </tr>
            <tr>
                <td>{{ PI }}</td>
                <td>number: '3.0-0'</td>
                <td>{{ PI | number: '3.0-0' }}</td>
            </tr>
            <tr>
                <td>{{ PI }}</td>
                <td>number: '3.3-4'</td>
                <td>{{ PI | number: '3.3-4' }}</td>
            </tr>
            <tr>
                <td>{{ a }}</td>
                <td>percent</td>
                <td>{{ a | percent: '1.2-2' }}</td>
            </tr>
            <tr>
                <td>{{ a }}</td>
                <td>percent: '3.3-4'</td>
                <td>{{ a | percent: '3.3-4' }}</td>
            </tr>
            <tr>
                <td>{{ salary }}</td>
                <td>currency</td>
                <td> {{ salary | currency }}</td>
            </tr>
            <tr>
                <td>{{ salary }}</td>
                <td>currency:'COP'</td>
                <td> {{ salary | currency:'COP' }}</td>
            </tr>
            <tr>
                <td>{{ salary }}</td>
                <td>currency:'EUR': [true/false]</td>
                <td> {{ salary | currency:'EUR':true }} <br> {{ salary | currency:'EUR':false }}
                </td>
            </tr>
            <tr>
                <td>{{ salary }}</td>
                <td>number:'.2-2'</td>
                <td> {{ salary | number:'.2-2' }}</td>
            </tr>
            <tr>
                <td>Promise: {{ promiseValue }}</td>
                <td>async</td>
                <td> {{ promiseValue | async }} </td>
            </tr>
            <tr>
                <td>{{ date }}</td>
                <td>date | date: 'MMMM, EEEE d - yyyy'</td>
                <td> {{ date | date: 'MMMM, EEEE d - yyyy' }} </td>
            </tr>
            <tr>
                <td>{{ name2 }}</td>
                <td>titlecase</td>
                <td> {{ name2 | titlecase }} </td>
            </tr>
            <tr>
                <td>{{ name2 }}</td>
                <td>Creating new pipe: Capitalizado</td>
                <td> {{ name2 | capitalizado: true }} </td>
            </tr>
            <tr>
                <td>{{ name }}</td>
                <td>password: {{ buttonValue }}
                    <br>
                    <hr>
                    <button type="button" (click)="buttonValue = !buttonValue" class="btn btn-outline-primary btn-block">Activate/Desactivate</button></td>
                <td> {{ name | password : buttonValue }} </td>
            </tr>

        </tbody>
    </table>

    <div>
        <br>
        <h4>Object Slice</h4>
        <hr>
        <ul>
            <li *ngFor="let value of array | slice: 2: 6">{{ value }}</li>
        </ul>
        <br>
        <h4>JSON</h4>
        <hr>
        <pre>
            {{ hero | json }}
        </pre>
        <br>
        <h4>Youtube <small>video</small></h4>
        <hr>
        <iframe width="560" height="315" [src]=" video | domseguro: 'https://www.youtube.com/embed/' " frameborder=" 0 " allow="autoplay; encrypted-media " allowfullscreen></iframe>
        <br>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</div>